@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #ffffffe0;
    display: flex;
}

.navbar ul {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 1em;
    list-style: none;
}

.navbar ul a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.right-upper-navbar {
    top: 0;
    right: 0;
    position: absolute;
}